doctype html
html(lang="en")
  head 
    title Simple Pug Form
    //- Import Local Stylesheet & Font from Google Api
    link(
      rel="stylesheet"
      href="/static/styles.css"
      type="text/css"
    )
      
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Geo|Varela+Round"
      type="text/css"
    )
      
    body
      #landing
        h1 Welcome to A Generic Sign Up Page!
        #tell-us-about-you
          #form-cta
            button#form-trigger Tell Us About Yourself!
