doctype html
html(lang="en")
  head 
    title Simple Pug Form
    //- Import Local Stylesheet & Font from Google Api
    link(
      rel="stylesheet"
      href="/static/styles.css"
      type="text/css"
    )
      
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Geo|Varela+Round"
      type="text/css"
    )
    
    //- --- Logic Summary
    //- This entire page is meant to be a display of competency in constructing a
    //- simple 1 page web app with express and PUG. With that said, it is not  
    //- meant to be aesthetically impressive and likely reflects the latest trends of the 
    //- early 2000s.

    //- Special attention was paid to the signup modal to provide top visual
    //- displays there. This reflects an MVP attitude that it makes more sense 
    //- to invest time in attaining a new signup than simply displaying existing
    //- information to a known user. Optimally, both experiences are top notch, 
    //- but acquisition comes first. 

    //- Ipsum text is used to fill the body and provide something other than a 
    //- few buttons that link to information modals. A low res picture was also
    //- included to provide some visual flair.
      
    body
      #landing
        h1 Welcome to A Generic Sign Up Page!
        #tell-us-about-you
          #form-cta
            button#form-trigger Tell Us About Yourself!
          
        .content-column
          h3 Our Mission
          p
            | 90's meggings chia literally iceland pinterest tacos plaid dreamcatcher 
            | photo booth. Next level cornhole schlitz food truck lo-fi palo santo 
            | fam try-hard four loko subway tile. Kinfolk chicharrones seitan 
            | ethical. Health goth try-hard gentrify artisan affogato retro put 
            | a bird on it. Salvia sartorial gentrify, next level four dollar 
            | toast jean shorts everyday carry cliche neutra lyft glossier 
            | cold-pressed fam banjo. Cornhole mixtape kitsch taxidermy unicorn 
            | pinterest yuccie gochujang irony before they sold out plaid 
            | fingerstache dreamcatcher chartreuse flexitarian. Four loko +1 DIY, 
            | you probably haven't heard of them fashion axe edison bulb bushwick.
              
        .content-column    
          h3 What's Next?
          p
            | Kale chips godard palo santo enamel pin tumeric quinoa prism mixtape 
            | skateboard tbh. Kitsch narwhal photo booth craft beer.
            | Disrupt direct trade irony enamel pin gluten-free adaptogen. Narwhal 
            | disrupt snackwave pok pok poutine enamel pin ugh brunch. Etsy 
            | vexillologist kogi, tattooed lomo vice locavore intelligentsia. 
            | Art party celiac austin kitsch ugh craft beer. Austin actually 
            | four dollar toast, ramps slow-carb food truck coloring book 
            | gochujang whatever bitters tote bag succulents hashtag.            
                      
        #here-you-are
          button#about-you Review Your Account
          
        .content-column
          h3 About Us
          p
            | Lorem ipsum dolor amet affogato iPhone single-origin coffee waistcoat 
            | sustainable. Pug 3 wolf moon, truffaut taiyaki beard af aesthetic
            | blog pickled direct trade. Squid raclette you probably haven't
            | heard of them, taxidermy kombucha lomo humblebrag health goth.
            | Tacos helvetica pickled, four dollar toast vegan heirloom blog
            | trust fund glossier. Iceland umami poutine organic kickstarter 
            | small batch four dollar toast humblebrag yuccie selvage taxidermy.
          p
            | IPhone hashtag neutra jianbing raw denim cronut typewriter tacos 
            | authentic fam tattooed waistcoat. Umami venmo fixie adaptogen chia 
            | kale chips hexagon af pug distillery cold-pressed ennui mustache. 
            | Raw denim jean shorts chambray food truck, unicorn cloud bread 
            | iceland craft beer retro pickled ramps tattooed poutine. Ennui 
            | literally fanny pack, affogato waistcoat YOLO intelligentsia 
            | williamsburg actually prism bicycle rights woke craft beer deep v.
            
        .content-column.image-column
          img(src='/static/img/business_hipster_low_res.jpg')
             
      //- HTML5 Validation & POST route included (even though we're utilizing
      //- preventDefault). Front end validation is good for UX, but can't be 
      //- 100% trusted. As a result, backend validation should always be the 
      //- source of truth in reviewing data from the client.
      #new-form.hidden
          h2 Create New User
          form(action="/user" method="post")
            
            .form-field
              label(for="name") Name
              input(type="text" name="name" required)
              ul#name-error
                
               
            .form-field
              label(for="username") Username
              input(type="text" name="username" required)
              ul#username-error
              
            .form-field
              label(for="password") Password
              input(
                type="password"
                name="password"
                pattern=".{8,}"
                title="Must be at least 8 characters"
                required
              )
              ul#password-error
              
            #submit-container 
              input(type="submit" value="Create New User")
        
        #user-details.hidden
          h2 Your Information
          p#name-display Name: Not Available
          p#username-display Username: Not Available
          p#password-display Password: Not Available
                    
      script(src="/static/scripts.js")
                    
            
